<div style="padding: 15px; width:600px" width="600px">
    <form class="layui-form" action="">
        <div class="layui-form-item">
          <label class="layui-form-label">账号</label>
          <div class="layui-input-block">
            <input type="text" name="admin_name" required  lay-verifys="required|checkName"  autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
              <input type="password" name="admin_pwd" required  lay-verifys="required|checkPwd"  autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
              <input type="text" name="admin_email" required  lay-verifys="required|email"  autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block">
              <input type="text" name="admin_tel" required  lay-verifys="required|phone|number"  autocomplete="off" class="layui-input">
            </div>
          </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </div>
      </form> 
</div>
<script>
    $(function(){
        layui.use(['form','layer'],function(){
              var form = layui.form;
              var layer=layui.layer;
              //验证账号
              form.verify({
                checkName: function(value, item){ //value：表单的值、item：表单的DOM对象
                var reg=/^[a-z_]\w{3,11}$/i;
                var font;
                if(!reg.test(value)){
                    return "账号数字 字母 下划线组成 非数字开头 4-12位";
                }else{
                    //验证唯一性 同步
                   $.ajax({
                     url:"{:url('Admin/checkName')}",
                     method:'post',
                     data:{admin_name:value,type:1},
                     async:false,
                     success:function(result){
                          if(result=='0'){
                             font='账号已存在'
                          }
                     }
                   })
                   return font
                  
                }
               
             },
             checkPwd: function(value, item){ //value：表单的值、item：表单的DOM对象
                var reg=/^.{6,16}$/i;
                if(!reg.test(value)){
                    return "密码允许6-16位"
                }
             }

            }) ; 
            
            


               //提交数据
               form.on('submit(*)', function(data){
                 $.post(
                   "{:url('Admin/adminAdd')}",
                   data.field,
                   function(result){
                    //  console.log(result) 
                    layer.msg(result.font, {icon:result.code});
                    if(result.code==1){
                         layer.open({
                            type:1,
                            content:'是否进入展示页面',
                            btn:['进入','继续添加'],
                            yes:function(index,layero){
                              location.href="{:url('admin/adminlist')}";
                            },
                            btn2:function(indxe,layero){
                                 location.href="{:url('admin/adminadd')}";
                            },
                            concel:function(){
                              
                            }
                         })
                    } 
                     
                   },
                   'json'
                 )
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                });

        })
    })
</script>