<div style="padding: 15px; width:600px" width="600px">
    <form class="layui-form" action="">
        
        <div class="layui-form-item">
            <label class="layui-form-label">原密码</label>
            <div class="layui-input-block">
              <input type="password" name="old_pwd" required  lay-verifys="required|checkPwd"  autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-block">
              <input type="password" name="new_pwd1" required  lay-verifys="required|checkPwd"  autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
              <input type="password" name="new_pwd2" required  lay-verifys="required|checkPwd"  autocomplete="off" class="layui-input">
            </div>
          </div>
         
          
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </div>
      </form> 
</div>
<script>
    $(function(){
        layui.use(['form','layer'],function(){
              var form = layui.form;
              var layer=layui.layer;
              //验证账号
              form.verify({
               checkPwd: function(value, item){ //value：表单的值、item：表单的DOM对象
                var reg=/^.{6,16}$/i;
                if(!reg.test(value)){
                    return "密码允许6-16位"
                }
             }

            }) ; 
            
            


               //提交数据
               form.on('submit(*)', function(data){
                 $.post(
                   "{:url('Admin/updatepwd')}",
                   data.field,
                   function(result){
                    layer.msg(result.font,{icon:result.code})
                    location.href="{:url('login/quit')}"
                   },
                   'json'
                   
                   
                 )
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                });

        })
    })
</script>