
<div class="list_c" >
    <input type="hidden"  class="count" value="{$count}">
    <ul class="cate_list">
        {foreach $goodsInfo as $k=>$v}
        <li>
            <div class="img"><a href="{:url('Product/detail')}?goods_id={$v.goods_id}"><img src="__ROOT__/goods_img/{$v.goods_img}" width="210" height="185" /></a></div>
            <div class="price">
                <font>￥<span>{$v.self_price}</span></font> &nbsp; {$v.goods_score}R
            </div>
            <div class="name"><a href="{:url('Product/detail')}?goods_id={$v.goods_id}">{$v.goods_name}</a></div>
            <div class="carbg">
                <a href="#" class="ss">收藏</a>
                <a href="#" class="j_car">加入购物车</a>
            </div>
        </li>
        {/foreach}
    </ul>
    <div class="pages">
        {$page_str}
    </div>

</div>