
<!--Begin Header Begin-->
<script type="text/javascript" src="__STATIC__/index/js/n_nav.js"></script>
{include file='public/top'}
<!--End Header End--> 
<!--Begin Menu Begin-->
<!--End Menu End--> 
<div class="i_bg">
	<div class="postion">
        <span class="fl">全部商品 ><a href="{:url('Product/productList')}?cate_id={$cInfo.cate_id}">{$cInfo.cate_name}</a></span>
        <span class="n_ch"  style="display: none" id="brand">
            <span class="fl">品牌：<font></font></span>
            <a href="javascript:;" ><img src="__STATIC__/index/images/s_close.gif" class="close" /></a>
        </span>
        <span class="n_ch"   style="display: none" id="price">
                <span class="fl">价格：<font></font></span>
                <a href="javascript:;"><img src="__STATIC__/index/images/s_close.gif" class="close" /></a>
        </span>

    </div>
    <!--Begin 筛选条件 Begin-->
    <div class="content mar_10">
    	<table border="0" class="choice" style="width:100%; font-family:'宋体'; margin:0 auto;" cellspacing="0" cellpadding="0">
          <tr valign="top">
            <td width="70">&nbsp; 品牌：</td>
            <td class="td_a brand" id="brand_select">
                {foreach $brandInfo as $k=>$v}
                <a href="javascript:;"   class="brand_select"  brand_id="{$v.brand_id}">{$v.brand_name}</a>
                {/foreach}
            </td>
          </tr>
          <tr valign="top">
            <td>&nbsp; 价格：</td>                                                                                                       
            <td class="td_a price" id="price_select">
                {foreach $priceInfo as $k=>$v}
                <a href="javascript:;" class="price_select">{$v}</a>
                {/foreach}
            </td>
          </tr>                                              
                                                                
        </table>                                                                                 
    </div>
    <!--End 筛选条件 End-->
    
    <div class="content mar_20">
    	<div class="l_history">
        	<div class="his_t">
            	<span class="fl">浏览历史</span>
                <span class="fr"><a href="#">清空</a></span>
            </div>
        	<ul>
            {if condition="$historyInfo neq ''"}
               {foreach $historyInfo as $k=>$v}
            	<li>
                    <div class="img"><a href="{:url('Product/detail')}?goods_id={$v.goods_id}"><img src="__ROOT__/goods_img/{$v.goods_img}" width="185" height="162" /></a></div>
                	<div class="name"><a href="#">{$v.goods_name}</a></div>
                    <div class="price">
                    	<font>￥<span>{$v.self_price}</span></font> &nbsp; {$v.goods_score}R
                    </div>
                </li>
            {/foreach}
            {/if}
               
               
        	</ul>
        </div>
        <div class="l_list">
        	<div class="list_t" >
            	<span class="fl list_or" id='test'>
                	<a href="#" class="type now" flag="1">默认</a>
                    <a href="#" class="type" flag="2">
                    	<span class="fl">销量</span>                        
                        <span order='desc'>↓</span>                                           
                    </a>
                    <a href="#" class="type" flag="3">
                    	<span class="fl">价格</span>                        
                        <span order='asc'>↑</span>
                    </a>
                    <a href="#" class="type" flag="4">新品</a>
                </span>
                <span class="fr" id="count">共发现{$count}件</span>
            </div>
            <div class="list_c"  id="show">
                <ul class="cate_list">
                    {foreach $goodsInfo as $k=>$v}
                	<li>
                    	<div class="img"><a href="{:url('Product/detail')}?goods_id={$v.goods_id}"><img src="__ROOT__/goods_img/{$v.goods_img}" width="210" height="185" /></a></div>
                        <div class="price">
                            <font>￥<span>{$v.self_price}</span></font> &nbsp; {$v.goods_score}R
                        </div>
                        <div class="name"><a href="{:url('Product/detail')}?goods_id={$v.goods_id}">{$v.goods_name}</a></div>
                        <div class="carbg">
                        	<a href="#" class="ss">收藏</a>
                            <a href="#" class="j_car">加入购物车</a>
                        </div>
                    </li>
                    {/foreach}
                </ul>
                <div class="pages">
                	{$page_str}
                </div>
   
            </div>
        </div>
    </div>
    <script>
      $(function(){
           
            //点击品牌
            $(document).on('click','.brand_select',function(){
                 var _this=$(this);  
                 var brand=_this.text();
                 $("#brand").css('display','block');
                 _this.addClass('now')
                 _this.siblings().removeClass('now')
                 $("#brand").find("font").text(brand);
                 $("#price").css("display","none")
                 $(".price_select").removeClass("now")
                 //重新获取价格区间
                 var brand_id=$('.brand').find("a[class='brand_select now']").attr("brand_id");
                 $.post(
                    "{:url('Product/getPrice')}",
                    {brand_id:brand_id},
                    function(result){
                        if(result.code==2){
                             layer.msg(result.font,{icon:result.code})
                        }else{
                             var _a=""
                            for(var i in result){
                            _a+="<a href='javascript:;' class='price_select'>"+result[i]+"</a>"
                            }
                            $("#price_select").html(_a);
                     
                        }
                    },
                    'json'
                 )
                 //获取商品数据
                 getGoodsInfo(1)
            })
            //点击价格
            $(document).on('click','.price_select',function(){
                 var _this=$(this);  
                 var price=_this.text();
                 $("#price").css('display','block');
                 _this.addClass('now')
                 _this.siblings().removeClass('now')
                 $("#price").find("font").text(price);
                  //获取商品数据
                  getGoodsInfo(1)
            })
           
            //点击排序
            $(document).on("click",'.type',function(){
                var _this=$(this);
                _this.addClass("now")
                _this.siblings('a').removeClass("now")
                 
                 //升降序改变
                 var flag=$("#test").find("a[class='type now']").attr('flag');
                 if(flag==2||flag==3){
                    var order=$("#test").find("a[class='type now']").find('span[order]').attr('order');
                    if(order=='desc'){
                        $("#test").find("a[class='type now']").find('span[order]').attr('order','asc');
                        $("#test").find("a[class='type now']").find('span[order]').text("↑")
                    }else{
                        $("#test").find("a[class='type now']").find('span[order]').attr('order','desc');
                        $("#test").find("a[class='type now']").find('span[order]').text("↓")
                    }

                 }
                  //获取商品数据
                  getGoodsInfo(1)
            })
            //点击分页超链接
            $(document).on("click",".page",function(){
               //获取商品数据
               var _this=$(this);
               var p=_this.attr("p")
               getGoodsInfo(p)
            })
            //删除
            $(document).on("click",".close",function(){
                var _this=$(this);
                //console.log(_this);
                var span=_this.parents("span[class='n_ch']")
                 span.css('display','none')
                var id=_this.parents("span[class='n_ch']").prop('id')
                $("."+id+"_select").removeClass("now");
               //获取商品数据
               getGoodsInfo(1)
            })


            //获取商品数据
            function getGoodsInfo(p=1){
                //条件  品牌 价格 2种排序
                //console.log(p)
                var brand_id=$('.brand').find("a[class='brand_select now']").attr("brand_id");
                var price=$('.price').find("a[class='price_select now']").text();
                var flag=$("#test").find("a[class='type now']").attr('flag');
                var order=$("#test").find("a[class='type now']").find('span[order]').attr('order');
                //请求控制器 把条件 页码传给控制器
                $.post(
                    "{:url('Product/productsearch')}",
                    {p:p,brand_id:brand_id,price:price,flag:flag,order:order},
                    function(result){
                       //console.log(result);
                       $("#show").html(result); 
                       var count= $(".count").val()
                       $("#count").text("共发现"+count+"件")
                      
                    }
                    
                )
               

            }
           
           
       
           
             
            
            
         
      })
    
    </script>
    
   
