<!-- 楼层数据 -->
<div cate_id={$info.topData.cate_id} floor_num="{$floor_num}">
        <div class="i_t mar_10">
    	<span class="floor_num">{$floor_num}F</span>
    	<span class="fl">{$info.topData.cate_name}</span>                
        <span class="i_mores fr">
            {volist name="info['cateList']" id='v'}
            <a href="#">{$v.cate_name}</a>
            {/volist}
        </span>
        </div>
        <div class="content">
        <div class="fresh_mid">
        	<ul>
               {volist name="info['goodsInfo']" id="v"}
            	<li>
                	<div class="name"><a href="{:url('Product/detail')}?goods_id={$v.goods_id}">{$v.goods_name}</a></div>
                    <div class="price">
                    	<font>￥<span>{$v.self_price}</span></font> &nbsp; {$v.goods_score}R
                    </div>
                    <div class="img"><a href="{:url('Product/detail')}?goods_id={$v.goods_id}"><img src="__ROOT__/goods_img/{$v.goods_img}" width="185" height="155" /></a></div>
                </li>
                {/volist}                                                              
            </ul>
        </div>

        </div>  
    </div>  