<!-- 内容主体区域 -->
<div style="padding: 15px; width:600px">
    <form class="layui-form" action="">
        <div class="layui-form-item">
          <label class="layui-form-label">网站名称</label>
          <div class="layui-input-block">
            <input type="text" name="web_name" value="{$info.web_name?:''}" required  lay-verifys="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
          </div>
        </div> 
        <div class="layui-form-item">
            <label class="layui-form-label">网站网址</label>
            <div class="layui-input-block">
              <input type="text" name="web_url" value="{$info.web_url?:''}" required  lay-verifys="required|url" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
        </div> 
        <div class="layui-form-item">
            <label class="layui-form-label">网站版权</label>
            <div class="layui-input-block">
              <input type="text" name="web_copyright" value="{$info.web_copyright?:''}" required  lay-verifys="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
        </div> 
        <div class="layui-form-item">
            <label class="layui-form-label">网站备案</label>
            <div class="layui-input-block">
              <input type="text" name="web_record" required value="{$info.web_record?:''}" lay-verifys="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
        </div> 
       
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </div>
      </form>
       
     
</div>
<script>
   $(function(){
       layui.use(['form','layer'],function(){
             var form=layui.form
             var layer=layui.layer
            
           //表单提交
             form.on('submit(*)', function(data){
                 $.post(
                    "{:url('System/system')}",
                    data.field,
                    function(result){
                       layer.msg(result.font,{icon:result.code})
                       if(result.code==1){
                           location.href="{:url('System/system')}"
                       }
                    },
                    'json'
                 )
                 
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                });




       })
   })
</script>