<!--Begin Header Begin-->
<script type="text/javascript" src="__STATIC__/index/js/n_nav.js"></script>
{include file='public/top'}
<!--End Menu End--> 
<div class="i_bg">  
    <div class="content mar_20">
    	<img src="__STATIC__/index/images/img1.jpg" />        
    </div>
    
    <!--Begin 第一步：查看购物车 Begin -->
    <div class="content mar_20">
    	<table  border="0" class="car_tab" style="width:1200px; margin-bottom:50px;" cellspacing="0" cellpadding="0">
          <tr>
            <td class="car_th" width="50"></td>
            <td class="car_th" width="490">商品名称</td>
            <td class="car_th" width="140">单价</td>
            <td class="car_th" width="150">购买数量</td>
            <td class="car_th" width="130">小计</td>
            <td class="car_th" width="150">操作</td>
          </tr>
          {foreach $cartData as $k=>$v}
          <tr class="tr_test" goods_id="{$v.goods_id}">
            {if condition="$login eq 1"}
            <td><input type="checkbox" class="check" value="{$v.cart_id}"  ></td>
            {else\}
            <td><input type="checkbox" class="check"  ></td>
            {/if}
            <td >
            	<div class="c_s_img"><img src="__ROOT__/goods_img/{$v.goods_img}" width="73" height="73" /></div>
                {$v.goods_name}
            </td>
            <td align="center" >
                ￥<span>{$v.self_price}</span>
            </td>
            <td align="center" class='tdd'>
            	<div class="c_num" >
                    <input type="button" value="" class="car_btn_1  reduce" />
                    <input type="text" value="{$v.buy_number}"  class="car_ipt buy_number" />  
                    <input type="button" value=""  class="car_btn_2 add " />
                    <input type="hidden" value="{$v.goods_num}" class="goods_num"> 
                </div>
            </td>
            <td align="center" style="color:#ff4e00;" class="Subtotal">
                    ￥<span class='price'>{$v.self_price*$v.buy_number}</span>
            </td>
            <td align="center">
             <a href="javascript:;" class="del">删除</a>&nbsp; &nbsp;
             <a href="javascript:;" class='collection'>加入收藏</a>
            </td>
          </tr>
          {/foreach} 
          <tr height="70">
          	<td colspan="6" style="font-family:'Microsoft YaHei'; border-bottom:0;">
                <label class="r_rad">
                <input type="checkbox" name="clear" id='all' />
                </label><label class="r_txt">全选</label>
                <input type="button" value="批量收藏" id="manycollection">
                <input type="button" value="删除选中的商品" id="manydel">
                <input type="button" value="清空购物车" id="alldel">
                <span class="fr">
                    已选 <b style="font-size:10px; color:#ff4e00;" id="num">0</b>件商品
                    商品总价：<b style="font-size:22px; color:#ff4e00;" id="total">￥0</b>
                </span>
            </td>
          </tr>
          <tr valign="top" height="150">
          	<td colspan="6" align="right">
                <a href="#"><img src="__STATIC__/index/images/buy1.gif" /></a>&nbsp; &nbsp; 
                <a href="javascript:;" id="settlement"><img src="__STATIC__/index/images/buy2.gif" /></a>
            </td>
          </tr>
        </table>
        
    </div>
	<!--End 第一步：查看购物车 End--> 
    
    
    <!--Begin 弹出层-删除商品 Begin-->
    <div id="fade" class="black_overlay"></div>
    <div id="MyDiv" class="white_content">             
        <div class="white_d">
            <div class="notice_t">
                <span class="fr" style="margin-top:10px; cursor:pointer;" onclick="CloseDiv('MyDiv','fade')"><img src="__STATIC__/index/images/close.gif" /></span>
            </div>
            <div class="notice_c">
           		
                <table border="0" align="center" style="font-size:16px;" cellspacing="0" cellpadding="0">
                  <tr valign="top">
                    <td>您确定要把该商品移除购物车吗？</td>
                  </tr>
                  <tr height="50" valign="bottom">
                    <td><a href="#" class="b_sure">确定</a><a href="#" class="b_buy">取消</a></td>
                  </tr>
                </table>
                    
            </div>
        </div>
    </div>  
   



    <script>
     $(function(){
         layui.use(['layer'],function(){
       //加法
        $(document).on("click",".add",function(){
        var _this=$(this);
        var goods_num=_this.next().val()
        var buy_number=parseInt(_this.prev().val());
        _this.prevAll(".reduce").prop("disabled",false)
        if(buy_number>=goods_num){
            _this.prev().val(buy_number)
            _this.prop("disabled",false)
        }else{
            buy_number+=1
            _this.prev().val(buy_number)
            //计算价格
            price(_this,buy_number)
            //计算总价
            total(_this)
            //改变数量
            changNum(_this,buy_number);  
        }
        })
        //减法
        $(document).on("click",".reduce",function(){
            var _this=$(this);
            var buy_number=parseInt(_this.next().val())
            _this.nextAll(".add").prop("disabled",false)
            if(buy_number<=1){
                _this.next().val(1)
                _this.prop("disabled",true)
            }else{
                buy_number-=1
                _this.next().val(buy_number);
                //计算价格
                price(_this,buy_number)
                //计算总价
                total(_this)
                //改变数量
                changNum(_this,buy_number)
            } 
         })
        //失去焦点
        $(document).on("blur",".buy_number",function(){
                var _this=$(this)
                var buy_number=_this.val();
                var goods_num=parseInt(_this.nextAll(".goods_num").val()) 
                var preg=/^[1-9]\d{0,}$/
                if(!preg.test(buy_number)){
                     _this.val(1)
                     //计算小计
                     price(_this,1)
                     //修改数量
                     changNum(_this,1)
                    
                }else{
                    if(parseInt(buy_number)>=goods_num){
                         _this.val(goods_num)
                         //计算小计
                         price(_this,goods_num)
                         //修改数量
                         changNum(_this,goods_num)
                       
                    }else{
                        //计算小计
                        price(_this,buy_number)
                        //修改数量
                        changNum(_this,buy_number)
                      
                    }
                }
                //计算总价
                total(_this)
                
              
                       
        })
        
        //全选
        $(document).on("click","#all",function(){
            var _this=$(this)
            var checked=_this.prop("checked")
            var check=$(".tr_test").find("input[class='check']")
            if(checked==true){
                check.prop("checked",true)
                total(_this);
            }else{
                check.prop("checked",false)
                total(_this);
            }
            
        })
        //单选
        $(document).on("click",".check",function(){
            var _this=$(this)
            total(_this);
        })
        //计算小计
        function  price(input,buy_number){
          input.parents("tr[class='tr_test']").find("td").find("input[class='check']").prop("checked",true);
            var price=input.parents(".tdd").prev("td").find("span").text();
            var price=parseInt(price);
            var momeny=price*buy_number
            input.parents(".tdd").next().children(".price").text(momeny)
        }
        //计算总价 
        function total(){
            var total=0
            var num=0
            $(".check").each(function(index){
                if($(this).prop("checked")==true){
                   var subtotal=$(this).parents(".tr_test").find("td[class='Subtotal']").find("span").text()
                   var subtotal=parseInt(subtotal)
                   total+=subtotal
                   var buy_number=$(this).parents(".tr_test").find("input[class='car_ipt buy_number']").val()
                   var buy_number=parseInt(buy_number)
                   num+=buy_number
                }
            })
            $("#total").text("￥"+total);
            $("#num").text(num);
            
        }
        //修改数量
        function changNum(input,buy_number){
            var cart_id=input.parents(".tr_test").find(".check").val()
            var goods_id=input.parents(".tr_test").attr("goods_id");
            //console.log(goods_id)
            var buy_number=buy_number
            $.post(
                "{:url('Cart/cartUpdate')}",
                {cart_id:cart_id,buy_number:buy_number,goods_id},
                function(result){
                    if(result.code==2){
                        layer.msg(result.font,{icon:result.code})
                    }
                }
                ,'json'
            )
        }
        //加入收藏
        $(".collection").click(function(){
             //检测是否登录
             var  login="{$login}"
            if(login==2){
                layer.msg("加入收藏前请先登录",{icon:2,time:2000},function(){
                    location.href="{:url('Login/login')}"
                })
                return false;
            }
            var _this=$(this)
            var goods_id=_this.parents(".tr_test").attr("goods_id")
            $.post(
               "{:url('Cart/addCollection')}",
               {goods_id:goods_id,type:1},
               function(result){
                 layer.msg(result.font,{icon:result.code})
               }
               ,'json'

            )
        })
          //删除
        $(".del").click(function(){
            var _this=$(this);
            var cart_id=_this.parents(".tr_test").find(".check").val()
            var goods_id=_this.parents(".tr_test").attr("goods_id");
            $.post(
                "{:url('Cart/cartDel')}",
                {cart_id:cart_id,goods_id:goods_id,type:1},
                function(result){
                    layer.msg(result.font,{icon:result.code})
                    if(result.code==1){
                        _this.parents(".tr_test").remove()
                    }
                }
                ,'json'
            )
        })
        //批量收藏
        $("#manycollection").click(function(){
            //检测是否登录
            var  login="{$login}"
            if(login==2){
                layer.msg("加入收藏前请前登录",{icon:2,time:2000},function(){
                    location.href="{:url('Login/login')}"
                })
                return false;
            }

            var goods_id=""
            $(".check").each(function(index){
               if($(this).prop("checked")==true){
                    var gid=parseInt($(this).parents(".tr_test").attr("goods_id"));
                    goods_id+=","+gid
               }
            })
            goods_id=goods_id.substr(1)
            $.post(
               "{:url('Cart/addCollection')}",
               {goods_id:goods_id,type:2},
               function(result){
                  layer.msg(result.font,{icon:result.code})
               }
               ,'json'
            )
        })
         //批量删除
        $("#manydel").click(function(){
            var _this=$(this)
            var id=""
            var goods_id=""
            $(".check").each(function(index){
                if($(this).prop("checked")==true){
                    $(this).parents(".tr_test").remove();
                    total()
                    var cart_id=parseInt($(this).val());
                    var gid=parseInt($(this).parents(".tr_test").attr("goods_id"))
                    id+=","+cart_id
                    goods_id+=","+gid 
                }
            })
            cart_id=id.substr(1)
            goods_id=goods_id.substr(1)
           $.post(
               "{:url('Cart/cartDel')}",
               {cart_id:cart_id,goods_id:goods_id,type:2},
               function(result){
                 layer.msg(result.font,{icon:result.code,time:1000})
               }
               ,'json'
           ) 
        })
        //清空购物车
        $("#alldel").click(function(){
            //检测是否登录
            var  login="{$login}"
            if(login==2){
                layer.msg("请您先登录再清空购物车",{icon:2,time:2000},function(){
                    location.href="{:url('Login/login')}"
                })
                return false;
            }
                var _this=$(this)
                _this.parent("td").find("#all").prop("checked",true)
                var cart_id=""
                $(".check").each(function(index){
                    $(this).prop("checked",true)
                    var c_id=parseInt($(this).val());
                    cart_id+=","+c_id
                    $(this).parents(".tr_test").remove()
                    total()
                })
                
                _this.parents("td").find("#all").prop("checked",false)
                cart_id=cart_id.substr(1) 
                $.post(
                    "{:url('Cart/emptyCart')}",
                    {cart_id:cart_id},
                    function(result){
                        layer.msg(result.font,{icon:result.code})
                        
                    }
                    ,'json'
                )
            
            
        })
        //确认结算
        $("#settlement").click(function(){
            //获取选中的购物车的 id
            var cart_id=""
            $(".check").each(function(){
                if($(this).prop("checked")==true){
                   cart_id+=","+$(this).val()
                    
                } 
            })
            var cart_id=cart_id.substr(1)
            if(cart_id==""){
                layer.msg("请选择要结算的商品",{icon:2})
                return false;
            }
            //检测登录
            var login="{$login}"
            //console.log(login)
            if(login==2){
                layer.msg("请您先登录再结算",{icon:2,time:2000},function(){
                    location.href="{:url('Login/login')}"
                })
                return false;
            }
            location.href="{:url('Order/confirmSettlement')}?cart_id="+cart_id
            
        })
        




         })
      
     })
    
    </script>
