<div style="padding: 15px; width:600px" width="600px">
  <form class="layui-form" action="">
    <div class="layui-form-item">
      <label class="layui-form-label">品牌名称</label>
      <div class="layui-input-block">
        <input type="text" name="brand_name" required  lay-verifys="required|checkName" placeholder="请输入标题" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">网址</label>
      <div class="layui-input-block">
        <input type="text" name="brand_url" required  lay-verifys="required|url" placeholder="请输入标题" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">logo</label>
      <div class="layui-input-block">
        <input type="hidden" name="brand_logo" id="brand_logo">
        <button type="button" class="layui-btn" id="logo">
          <i class="layui-icon">&#xe67c;</i>上传图片
        </button>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">是否展示</label>
      <div class="layui-input-block">
        <input type="radio" name="brand_show" value="1" title="是">
        <input type="radio" name="brand_show" value="0" title="否" checked>
      </div>
    </div>
    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">描述</label>
      <div class="layui-input-block">
        <textarea name="brand_describe" placeholder="请输入内容" class="layui-textarea"></textarea>
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div>
  </form>
  
  </div>
  <script>
    $(function(){
        layui.use(['form','layer','upload'],function(){
            var form=layui.form
            var layer=layui.layer
            var upload=layui.upload
            var font;
           //验证
           form.verify({
            checkName: function(value, item){ //value：表单的值、item：表单的DOM对象
               //console.log(value)
               //ajax验证唯一性 
              $.ajax({
                     url:"{:url('Brand/checkName')}",
                     method:'post',
                     data:{brand_name:value,type:1},
                     async:false,
                     success:function(result){
                       //console.log(result);
                          if(result=='0'){
                             font='品牌名称已存在'
                          } 
                     }
                   })
                   return font;
                
            }
            

            }) ; 



            //文件上传
            var uploadInst = upload.render({
               elem: '#logo' //绑定元素
              ,url: "{:url('Brand/brandLogo')}" //上传接口
              ,done: function(res){
              //上传完毕回调
                  layer.msg(res.font,{icon:res.code})
                  if(res.code==1){
                    $('#brand_logo').val(res.src)
                  }


                }
             
           });




                      //监听表单提交
            form.on('submit(*)', function(data){
              $.post(
                   "{:url('Brand/brandAdd')}",
                   data.field,
                   function(result){
                    //console.log(result) 
                      layer.msg(result.font, {icon:result.code});
                      if(result.code==1){
                         layer.open({
                            type:1,
                            content:'是否进入展示页面',
                            btn:['进入','继续添加'],
                            yes:function(index,layero){
                              location.href="{:url('Brand/brandlist')}";
                            },
                            btn2:function(indxe,layero){
                                 location.href="{:url('Brand/brandadd')}";
                            },
                            concel:function(){
                              
                            }
                         })
                    }
                    
                     
                   },
                   'json'
                   
                   
                 ) 
               //当前容器的全部表单字段，名值对形式：{name: value}
              return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            }); 
        })
    })
  </script>